<f:layout name="Default" />
<f:section name="Main">
    <main>
        <div class="container title center-align">
            <div class="aniview slow" data-av-animation="slideInLeft">
                <h1>{data.title}</h1>
            </div>
        </div>
        <div class="aniview slow" data-av-animation="fadeIn">
            <div class="kontakt">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />
            </div>
            <div class="row container contact">
                <div class="col s12 m6">
                  <div class="map">
                    <f:cObject typoscriptObjectPath="lib.map"/>
                  </div>
                </div>
                    <div class="col s12 m6">
                        <div class="kontaktdaten">
                          <div class="aniview animated slow" data-av-animation="fadeInUp">
                            <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '2'}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</f:section>
