<f:layout name="Landing" />
<f:section name="Main">
    <main>

        <img src="/typo3conf/ext/pianopeople/Resources/Public/Images/Logos/piano2.png" alt="" class="hero-image">

        <div class="landing-container">
          <div class="caption">
              <div class="aniview animated slower" data-av-animation="fadeIn">
                  <div style="margin: 20px;">
                      <img class="responsive-img" src="/typo3conf/ext/pianopeople/Resources/Public/Images/Logos/logo_pianopeople_weiss_neu.png" alt="">
                  </div>
                  <div style="margin-top:40px;">
                      <f:link.page pageUid="4" class="button-white">Wilkommen</f:link.page>
                  </div>
              </div>
          </div>
        </div>
    </main>
</f:section>
