<f:layout name="Landing" />
<f:section name="Main">
<main>
  <div class="hero-image" style="background-color:black;">
</div>
<div class="aniview animated" data-av-animation="fadeIn">
  <!--<div class="hero-image ">
  <f:cObject typoscriptObjectPath="lib.headerimage"/>

  </div>-->


</div>
<div class="caption">
  <div class="aniview animated slower" data-av-animation="fadeIn">
    <div style="margin: 20px;">
      <img class="responsive-img" src="/typo3conf/ext/pianopeople/Resources/Public/Images/Logos/logo_pianopeople_weiss_neu.png" alt="">
    </div>
  <div class="" style="margin-top:40px;">
    <f:link.page pageUid="4" class="button-white">Wilkommen</f:link.page>
  </div>
  </div>
</div>
</f:section>
</main>
<!--
<div class="container title">
  <div  class="aniview slow" data-av-animation="slideInLeft">
    <h1>{data.title}</h1>
  </div>
</div>
  <div class="section white floating">
    <div class=" container">
      <h1>KLAVIERUNTERRICHT</h1>
      <div class="divider"></div>
    </div>
      <div class="row container">
        <p>Cras id dui. Vestibulum fringilla pede sit amet augue. Cras non dolor. Praesent porttitor, nulla vitae posuere iaculis, arcu nisl dignissim dolor, a pretium mi sem ut ipsum. Quisque rutrum.
      Ut tincidunt tincidunt erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent ac massa at ligula laoreet iaculis. Praesent vestibulum dapibus nibh. Vestibulum suscipit nulla quis orci.
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor lectus quis orci. Etiam ut purus mattis mauris sodales aliquam. Phasellus viverra nulla ut metus varius laoreet. Integer tincidunt. Curabitur vestibulum aliquam leo.</p>
      </div>
  </div>
  <div class="parallax-container">
      <div class="parallax"><img class="parallax-img" src="/typo3conf/ext/pianopeople/Resources/Public/Images/Logos/piano2.png"></div>
      <div class="caption">
        <div class="container" style="height: 300px;">
      </div>
      </div>
    </div>
-->
