      <footer class="page-footer" style="background-color:#343435;">
        <div class="container">
          <div class="">
            <div class="center-align white-text" style=" font-family: 'Arapey', serif; font-size: 40px !important;">
              <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{colPos: '5'}" currentValueKey="title"/>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container center-align">
            <a class=" text-lighten-4 icons" href="#!" style="color: #ed4630;"><i class="fab fa-youtube fa-2x"></i></a>
            <a class=" text-lighten-4 icons" href="#!" style="color: #4166b2;"><i class="fab fa-facebook-square fa-2x"></i></a>
            <a class="grey-text text-lighten-4 icons" href="#!"><i class="fas fa-envelope fa-2x"></i></a>
          </div>
        </div>
      </footer>
